<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0, user-scalable=yes">
	<title>Whiz</title>
  <link rel="stylesheet" href="assets/css/whiz.css">
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDomeXKvy8n2GG1lCgJ7KZLenY7atqHdNU&callback=initMap&libraries=places"></script>
<script type="text/javascript" src="assets/js/app.js"></script>
<script type="text/javascript" src="assets/js/auth.js"></script>
<ul>
<li><a href="/signup">Sign up</a></li>
<li><a href="/signin">Sign In</a></li>
</ul>
</head>
      {{{body}}}
    </div>
  </body>
</html>
