<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0, user-scalable=yes">
	<title>Whiz</title>
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   
  <link rel="stylesheet" href="assets/css/whiz.css">
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDomeXKvy8n2GG1lCgJ7KZLenY7atqHdNU&callback=initMap&libraries=places"></script>
<script type="text/javascript" src="assets/js/app.js"></script>
</head>
{{!-- navbar=== --}}
<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><a class="btn btn-floating pulse"><i class="material-icons">filter_hdr</i>WHIZ</a></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html"><a class="btn btn-floating pulse"><i class="material-icons">search</i></a></li></a>
        <li><a href="badges.html"><a class="btn btn-floating pulse"><i class="material-icons">view_module</i></a></li></a>
        <li><a href="collapsible.html"><a class="btn btn-floating pulse"><i class="material-icons">refresh</i></a></li></a>
        <li><a href="mobile.html"><a class="btn btn-floating pulse"><i class="material-icons">more_vert</i></a></li></a>
      </ul>
    </div>
  </nav>
      {{{body}}}
    </div>
  </body>
</html>
