<body>
    <div id="error"></div>
    <div id="error1"></div>

    <form id="busy">
        <h4 class="userType">Your Location: *</h4>
        <input type="text" name="address" id="input" placeholder="Ex: Address/City/State/Zip" class="form-control">
        <h4 class="userType">Name of Place</h4>
        <input type="text" min="0" name="location" class="form-control" id="location" placeholder="Ex: Name of store/bar/restaurant/etc">
        <div id="error" class="text-center"></div>
        <br>
        <input type="submit" value="Let's Go!" class="btn btn-primary" id="submit">
    </form>

    <div id="map">
    </div>

   
        <div id="place-1"></div><a id="button-1" data-id=""></a>
        <div id="place-2"></div><a id="button-2" data-id=""></a>
        <div id="place-3"></div><a id="button-3" data-id=""></a>
        <div id="place-4"></div><a id="button-4" data-id=""></a>
        <div id="place-5"></div><a id="button-5" data-id=""></a>


    <form id="newComment" method="post">
        <h4 class="newInfo">User: *</h4>
        <input type="text" name="user" id="user" placeholder="Your Username" class="form-control">
        <h4 class="newInfo">Comment *</h4>
        <input type="text" min="0" name="comment" class="form-control" id="comment" placeholder="Your comment goes here">
        
        <input type="submit" value="Post a comment!" class="btn btn-primary" id="submit">
    </form>

    <div id="comment">
        
    <ul>
        {{#each comments}}
            <li>
                <p>User: {{this.user}}</p>
                <p>Comment: {{this.comment}}</p>
            </li>
        {{/each}}
    </ul>


    </div>


</body>