<body>
    <div id="error"></div>
    <div id="error1"></div>

    <form id="busy">
        <h4 class="userType">Your Location: *</h4>
        <input type="text" name="address" id="input" placeholder="Ex: Address/City/State/Zip" class="form-control">
        <h4 class="userType">Name of Place</h4>
        <input type="text" min="0" name="location" class="form-control" id="location" placeholder="Ex: Name of store/bar/restaurant/etc">
        <div id="error" class="text-center"></div>
        <br>
        <input type="submit" value="Let's Go!" class="btn btn-primary" id="submit">
    </form>

    <div id="map">
    </div>

   
        <div id="place-1" data-id=""></div><button id="link-1"></button>
    
    
        <div id="place-2" data-id=""></div><button id="link-2"></button>
    
    
        <div id="place-3" data-id=""></div><button id="link-3"></button>
    
    
        <div id="place-4" data-id=""></div><button id="link-4"></button>
   
    
        <div id="place-5" data-id=""></div><button id="link-5"></button>
    

    <div id="comments"></div>


</body>