<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><a class="btn btn-floating pulse"><i class="material-icons">filter_hdr</i>WHIZ</a></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html"><a class="btn btn-floating pulse"><i class="material-icons">search</i></a></li></a>
        <li><a href="badges.html"><a class="btn btn-floating pulse"><i class="material-icons">view_module</i></a></li></a>
        <li><a href="collapsible.html"><a class="btn btn-floating pulse"><i class="material-icons">refresh</i></a></li></a>
        <li><a href="mobile.html"><a class="btn btn-floating pulse"><i class="material-icons">more_vert</i></a></li></a>
      </ul>
    </div>
  </nav>

  <div class = "box">    
        <h2>Login</h2>
        <form>
            <div class = "inputBox">
                <input type="text" name="" required="">
                <label>Username</label>
            </div>
            <div class = "inputBox">
                    <input type="password" name="" required="">
                    <label>Password</label>
            </div>
            <input type="submit" name="" value="Submit">
            <input type="submit" name="" value="Register">
            <!-- still have to put resgister in to take to diff page -->
        </form>
    </div>