<body>
      <nav>
    <div class="nav-wrapper">
       <div class="row">
                    <div class="col s12">
                </div>
            </div>
    </div>
    </nav>
    <h1>Sign Up</h1>
    <form>
        <label for="name">Name:</label>
        <input type="text" id="signUpName" placeholder="Name">
        <label for="username">Username:</label>
        <input type="text" id="signUpUsername" placeholder="Username">
        <label for="password">Password:</label>
        <input type="password" id="signUpPassword" placeholder="Password">
        <label for="email">Email Address:</label>
        <input class="text" placeholder="email" type="text" id="signUpEmail" />
        <button type="button" id="signUpForm">Sign Up</button>
    </form>

</body>