<body>
    <h1>Sign Up</h1>
    <form id="signUpForm">
        <label for="name">Name:</label>
        <input type="text" id="signUpName" placeholder="Name">
        <label for="username">Username:</label>
        <input type="text" id="signUpUsername" placeholder="Username">
        <label for="password">Password:</label>
        <input type="text" id="signUpPassword" placeholder="Password">
        <label for="email">Email Address:</label>
        <input class="text" name="email" type="email" id="#signUpEmail" />
        <button id="signUp">Sign Up</button>
    </form>
    
</body>