<body>
    <nav>
    <div class="nav-wrapper">
       <div class="row">
                <div class="col s9">
                </div>
                <div class="col s3">
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/">App</a></li>
                </div>
        </div>
    </div>
    </nav>
    <h1>Login Here</h1>
    <form>
        <input type="text" id="username" placeholder="username">
        <input type="password" id="pw" placeholder="password">
        <button id="signInForm">Login</button>

    </form>


</body>