.nav-wrapper {
    background-color: black;
}

body {
    background: url("./public/assets/images/grey.jpeg") no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    }

 .box {          /* 1 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    widows: 400px;
    padding: 40px;
    background: grey;
    box-sizing: border-box;
    box-shadow: 0 15px 25px white;
    border-radius: 10px;
}

 .box h2 {      
    color: black;
    text-align: center;
    font-size: 30px;
}

.box .inputBox {
    position: relative;
}

.box .inputBox input {
    width: 100%;
    padding: 10px 0px;
    font-size: 20px;
    color: black;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    background: transparent;
}

.box .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    pointer-events: none;
    transition: .4s;
    color: black;
    font-size: 20px;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {
    top: -20px;
}

p {
    text-align: center;
    font: 200px;
    font-family: 'Times New Roman', Times, serif;
}