body {
  background: #ccc;
  font-family: arial;
  color: #666;
  line-height: 1.6em;
}

a {
  color: white;
}

input[type='text'] {
  padding: 4px;
  height: 25px;
  border: 1px solid #ccc;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

#input-id {
  width: 20%;
}
#input-loc {
  width: 70%;
}

#submit {
  padding: 10px;
  background: #333;
  color: #fff;
  border: 0;
  margin-top: 20px;
}

.add {
  float: right;
}
.clr {
  clear: both;
}

#map {
  height: 500px;
  width: 700px;
}

nav .nav-wrapper {
  position: relative;
  height: 100%;
  background-color: limegreen;
}
