body {
  background: darkslategray;
  font-family: arial;
  color: #fff600;
  line-height: 1.6em;
}

a {
  color: white;
}

body {
  background: rgb(54, 53, 53);
  font-family: arial;
  color: #fff600;
  line-height: 1.6em;
}

a {
  color: white;
}

input[type='text'] {
  padding: 4px;
  height: 25px;
  border: 1px solid #ccc;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

#input-id {
  width: 20%;
}
#input-loc {
  width: 70%;
}

#submit {
  padding: 10px;
  background: #333;
  color: #fff;
  border: 0;
  margin-top: 20px;
}

.add {
  float: right;
}
.clr {
  clear: both;
}

#map {
  margin-top: 5%;
  height: 500px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
nav{
  color: black;
}

nav .nav-wrapper {
  position: relative;
  height: 100%;
  background-color: #fff600;
}

#whizzers{
  text-align: center;
  
}

#whizzers{
  text-align: center;
  
}